@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* @import url("http://fonts.cdnfonts.com/css/gordita"); */
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  @apply leading-[normal] m-0;
  background-color: #989898;
}
/* input {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
} */

/* .navigation {
  filter: drop-shadow(0px 0px 16px rgba(64, 83, 252, 0.24));
} */

.bg-ellipse {
  background: linear-gradient(180deg, #37c467 0%, #f7f7f9 20.87%), #f7f7f9;
}

.bg-mobile-onboarding {
  background-image: url('../public/assets/mobile-onboarding-page-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.primary {
  background: linear-gradient(
      172.93deg,
      #348d52 32.33%,
      rgba(52, 141, 82, 0) 72.2%
    ),
    #37c367;
}

input {
  caret-color: #000;
}

input:focus {
  outline: none !important;
}
input::placeholder {
  color: #000;
  position: absolute;
}

.swiper-pagination-bullet-active {
  background-color: #444 !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
