@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* @import url("http://fonts.cdnfonts.com/css/gordita"); */
@import url('http://fonts.cdnfonts.com/css/avenir-next-lt-pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  @apply leading-[normal] m-0;
  background-color: #989898;
}
/* input {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
} */

input {
  caret-color: #b2b1b1;
}

input:focus {
  outline: none !important;
}
input::placeholder {
  color: #d2d2d2;
  position: absolute;
}

.swiper-pagination-bullet-active {
  background-color: #444 !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
